@import "fuentes";
@import "generales";
@import "navegador";
@import "footer";


.contee1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}



.isla1 {

    grid-area: isla1;

}

.carousel-control-prev {
    background-color: black;
}

.carousel-control-next {
    background-color: black;


}

.carru {
    width: 70%;
}

.formsss {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.formulario {
    margin-top: 10%;
}

.text__area {
    width: 100%;
}

.input__personal {
    width: 25%;
}

.text__contact {
    padding: 7px;
}

.contenido__alojarse {
    grid-area: contenido__alojarse;
}

footer {
    grid-area: footer;
}


.pics :hover {
    display: grid;
    grid-template-columns: 1fr;

}


p {
    width: 50%;
    text-align: justify;
    padding: 10px;
    

}

img {
    border: 8px solid #3a3548;
    margin-top: 15px;
}


.foto__princ {
    width: 90%;
}

.vid {
    width: 50%;
    justify-items: center;
}

.contenedor {

    margin: 0px;
    display: grid;
    grid-gap: 20 px;

    grid-template-areas:
        "isla"
        "contenido"
        "footer";
}

/*todos los div dentro de contenedor tengan el mismo formato*/


.contenedor.titulo {

    background: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;

}

.contenedor .isla {
    background-color: #12203E;
    color: #fff;
    grid-column-start: -1;
    grid-column-end: -1;
    grid-area: isla;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.contenedor.navegador {
    background-color: #12203E;
    color: #fff;
    grid-column-start: -1;
    grid-column-end: -1;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*texto*/
.contenedor .contenido {
    grid-area: contenido;
    justify-content: center;
    text-justify: distribute;
}

.contenido p {
    display: grid;
    justify-content: center;
    gap: 15px;
    justify-items: distribute;

}




/*Bootstrap*/
.carousel-inner {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    list-style-type: none;

}

.carousel-inner p {
    text-align: center;
}


/*Donde alojarse distrib*/
.prod__grid {
    grid-area: prod__grid;
}


.footer {
    grid-area: footer;
}

.envoltura__productos {
    margin-bottom: 1.5em;
    gap: 20px;
    display: grid;
    grid-template-areas:
        "isla"
        "prod__grid"
        "footer";
}

.compra {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}

.estadia {
    width: 300px;
    height: 250px;
    border: 8px solid black;
    margin-top: 15px;

}


/*Tablet Ipad*/
@media (min-width:600px) {

    .compra {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        justify-items: center;
    }

    .carousel__slide {
        margin-left: 100px;
    }

    .contenedor.isla1 {
        background-color: #12203E;
        color: #fff;
        grid-area: isla;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;

    }

    .contenido__alojarse {

        display: grid;
        gap: 15px;
        padding: 20px;
        border-radius: 4px;
        justify-items: center;

    }


    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        justify-items: center;

    }

    img {
        border: 8px solid #3a3548;
        margin-top: 15px;
    }

    .contenedor {
        width: 100%;
        max-width: 100%;
        margin: 0px auto;
        display: grid;
        grid-gap: 20 px;
        grid-template-areas:
            "isla isla isla"
            "contenido contenido contenido"
            "footer footer footer";
    }

    .vid {
        width: 100%;
        justify-items: center;
    }

}


/*Desktop*/
@media (min-width:1024px) {

    .compra {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        justify-items: center;
    }


    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
    }



    /*Para el index*/
    .contenedor.isla1 {
        background-color: #12203E;
        color: #fff;
        grid-column-start: -1;
        grid-column-end: -1;
        grid-area: isla;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;

    }



    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        justify-items: center;

    }

    img {
        border: 8px solid #3a3548;
        margin-top: 15px;
    }

    .contenedor {
        width: 100%;
        max-width: 100%;
        margin: 0px auto;
        display: grid;
        grid-gap: 20 px;
        grid-template-areas:
            "isla isla isla"
            "contenido contenido contenido"
            "footer footer footer";
    }

    .prod:hover {
        transform: scale(1.1);
    }

    .prod {
        width: 350px;
        height: 300px;
        transition-property: all;
        transition-duration: 3s;

    }




}